<form>
  <mat-form-field appearance="outline" class="form">
    <mat-label>Password</mat-label>
    <input [type]="hide ? 'password' : 'text'" [value]="password" matInput>
    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form">
    <mat-label>Password</mat-label>
    <input [type]="hide ? 'password' : 'text'" [value]="confirmPassword" matInput>
    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</form>
