<!--Navbar-->
<mat-toolbar class="navbar navbar-expand-lg">

  <!-- Navbar brand -->
  <a class="navbar-brand">ArenaTournament</a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" [routerLink]="'home'">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item" [routerLink]="'profile'">
      <a class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">History</a>
    </li>
  </ul>

  <mat-form-field *ngIf="isLoggedIn" appearance="standard" color="accent" class="search-field">
    <mat-label class="nav-item">Search tournament</mat-label>
    <input (input)="onSearchTournamentTextChanged($event.target.value)" matInput>
  </mat-form-field>

</mat-toolbar>




