@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

.nav-item:hover {
  opacity: 0.7;
}

.navbar {
  color: whitesmoke;
  background-color: #673ab7;
  height: 100px;
}


.search-field {
  margin-left: 32px;
}
