/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  margin: 32px;
  display: flex;
  justify-content: center;
}
